@charset "UTF-8";

@font-face {
    font-family: russo_one;
    src: url(/fonts/RussoOne-Regular.ttf?8a511841065ce7bd13b845eeea880d6e);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: namu;
    src: url(/fonts/NAMU-1850.ttf?dc42acc792965b131810e231c3bfcb76);
    font-weight: 400;
    font-style: normal;
}

html,
body {
    scroll-behavior: smooth;
    background-color: #f7f7f7;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: namu;
}

a {
    text-decoration: unset;
    color: var(--var-color-4);
}

a:hover {
    opacity: 0.8;
}

li {
    list-style: none;
}

button,
input {
    background-color: unset;
    border: unset;
    outline: unset;
}

.banner-image-block {
    display: none;
}

.container-lr {
    width: 100%;
    max-width: 1920px;
    margin: 50px auto;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: 1179px) {
        margin: 0 auto;
    }

    .enot-logo {
        width: 100%;
        max-width: 600px;
        padding: 50px 25px;

        .logo {
            width: 100%;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .user-system-register-login_content {
        width: 100%;
        max-width: 580px;
        height: fit-content;
        background-color: #ffffff;
        position: relative;
        overflow: hidden;

        form {
            width: 100%;

            .header-t {
                width: 100%;
                background-color: #C47E93;
                padding: 25px;

                h1 {
                    font-size: 24px;
                    color: #ffffff;
                    text-transform: uppercase;
                }
            }

            .form-content {
                padding: 50px 25px;
                position: relative;
                overflow: hidden;
                width: 100%;
                display: flex;
                flex-direction: column;

                .form-group {
                    width: 100%;
                    padding: 10px 0;

                    label {
                        font-size: 14px;
                    }

                    input {
                        height: 50px;
                        font-size: 20px;
                        width: 100%;
                        background-color: #FDD9E5;
                        border-radius: 25px;
                        margin-top: 10px;
                        text-indent: 25px;
                    }

                    .sub {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-wrap: wrap;
                        gap: 30px;

                        button {
                            padding: 15px 50px;
                            width: 100%;
                            display: flex;
                            background-color: #B0A8FE;
                            border-radius: 10px;
                            width: fit-content;
                            justify-content: end;
                            align-content: end;
                            align-self: flex-end;
                            cursor: pointer;

                            &:hover {
                                opacity: .7;
                            }
                        }
                    }

                    .check {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        width: 50%;

                        label {
                            width: 100%;
                            line-height: 100%;
                        }

                        input {
                            width: 20px;
                            height: 20px;
                            display: block;
                            margin-top: 0;
                        }
                    }
                }
            }

            .form-footer {
                padding-top: 25px;

                p {
                    font-size: 14px;
                }

                a {
                    color: #C47E93;
                }

                .link {
                    font-size: 24px;
                    margin-top: 10px;
                }
            }
        }
    }
}

.container-user {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 17px;
    margin: 100px 0;
    height: fit-content;
    min-height: 681px;
    position: relative;

    .content {
        flex: 1;
        width: 100%;
        max-width: 998px;
        background-color: #ffffff;
        height: 100%;
        position: relative;
        overflow: hidden;
        transition: all .2s ease-in;

        .panel {
            display: none;
            font-size: 24px;
            width: 100%;

            .panel-container-us {
                width: 100%;
                height: 100%;

                .header-panel-c {
                    padding: 50px 25px;
                    background-color: #302950;
                    border-radius: 20px 20px 0 0;

                    @media (max-width: 750px) {
                        border-radius: 0;
                    }

                    .title-panel {
                        display: flex;
                        flex-wrap: wrap;
                        color: #ffffff;
                        align-items: self-end;
                        gap: 5px 10px;

                        h1 {
                            font-size: 30px;
                            text-transform: uppercase;
                        }

                        span {
                            font-size: 16px;
                            color: #C3C3C3;
                            text-transform: uppercase;
                        }
                    }
                }

                .content-panel-c {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;

                    .header-form-c {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 25px;
                        padding: 50px 25px;

                        .enter {
                            width: fit-content;
                            max-width: 400px;

                            span {
                                font-size: 20px;
                                color: #302950;

                                small {
                                    font-size: 14px;
                                    color: #ACACAC;
                                }
                            }

                            input {
                                height: 50px;
                                font-size: 18px;
                                width: 100%;
                                background-color: #FDD9E5;
                                border-radius: 25px;
                                margin-top: 10px;
                                text-indent: 25px;
                            }
                        }
                    }

                    .bonus-card-c {
                        width: 100%;
                        height: 400px;
                        position: relative;
                        overflow: hidden;

                        .card-container {
                            perspective: 1000px;
                            height: 100%;
                            /* Для создания 3D эффекта */
                        }

                        .card {
                            width: 100%;
                            height: 100%;
                            position: relative;
                            transform-style: preserve-3d;
                            transition: transform 0.8s;
                        }

                        .card-front,
                        .card-back {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            backface-visibility: hidden;
                            /* Скрытие задней части при повороте */
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        .card-back {
                            transform: rotateY(180deg);
                            /* Повёрнутая сторона */
                        }

                        .card-front {
                            background-color: #9b91f3;
                            width: 100%;
                            height: 100%;

                            .card-c {
                                position: relative;
                                overflow: hidden;
                                width: 100%;
                                height: 100%;

                                .bg {
                                    width: 90%;
                                    position: absolute;
                                    opacity: .3;
                                    left: 0;
                                    right: 0;
                                    top: 0;
                                    bottom: 0;
                                    margin: 0 auto;
                                    height: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;

                                    img {
                                        width: 100%;
                                        height: auto;
                                    }
                                }

                                .card-content-b {
                                    position: relative;
                                    z-index: 100;
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    padding: 50px 25px;

                                    .header-content-b {
                                        h1 {
                                            font-size: 46px;
                                            color: #302950;
                                        }

                                        p {
                                            font-size: 20px;
                                            color: #302950;
                                        }
                                    }

                                    .bonuses-wallet {
                                        display: flex;
                                        flex-wrap: wrap;
                                        margin: 25px 0;
                                        gap: 15px;
                                        align-items: end;

                                        h1 {
                                            font-size: 80px;
                                            color: #ffffff;
                                            font-family: russo_one;
                                        }

                                        p {
                                            font-size: 40px;
                                            color: #ffffff;
                                        }
                                    }

                                    .bonuses-footer {
                                        margin-top: 40px;

                                        p {
                                            font-size: 30px;
                                            color: #ffffff;
                                        }
                                    }
                                }

                                &:after {
                                    content: '';
                                    height: 100%;
                                    border: 5px #ffffff dashed;
                                    right: 20%;
                                    top: 0;
                                    position: absolute;

                                    @media (min-width: 751px) {
                                        display: none;
                                    }
                                }
                            }
                        }

                        .card-back {
                            background-color: #e5eea0;
                            z-index: 200;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            padding: 50px 15px;

                            .bonus_code-scann {
                                width: 100%;
                                padding: 25px 0;

                                img {
                                    width: 100%;
                                    height: 100px;
                                }
                            }

                            .logo {
                                width: 100%;
                                max-width: 400px;

                                img {
                                    width: 100%;
                                    height: auto;
                                }
                            }
                        }

                        .flipped {
                            transform: rotateY(180deg);
                            /* Анимация поворота */
                        }
                    }

                    .service-items {
                        padding: 50px 25px;
                        display: flex;
                        flex-direction: column;
                        gap: 35px;
                        overflow-y: auto;
                        height: 100%;
                        width: 100%;

                        .order-element {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            gap: 15px;

                            .or_da {
                                font-size: 14px;
                                color: #C47E93;

                                .sccss {
                                    color: rgb(164, 230, 65);
                                    font-size: 16px;
                                }

                                .dngr {
                                    color: rgb(228, 125, 87);
                                    font-size: 16px;
                                }
                            }

                            .co-box {
                                width: 100%;
                                display: flex;
                                gap: 10px 50px;
                                flex-wrap: wrap;
                                max-width: 600px;
                                justify-content: space-between;

                                .head-inf {
                                    display: flex;
                                    align-items: center;
                                    gap: 20px;
                                    width: fit-content;

                                    .img-ico {
                                        width: 47px;

                                        img {
                                            width: 100%;
                                            height: auto;
                                            border-radius: 100px;
                                        }
                                    }

                                    .text-name {
                                        display: flex;
                                        flex-direction: column;
                                        width: fit-content;
                                        max-width: 330px;

                                        span {
                                            font-size: 16px;

                                            b {
                                                font-size: 24px;
                                            }
                                        }
                                    }
                                }

                                .footer-inf {
                                    width: fit-content;
                                    display: flex;
                                    flex-direction: column;
                                    gap: 10px;
                                    align-items: end;

                                    .price-t {
                                        font-size: 14px;
                                        color: #FDD9E5;
                                    }

                                    .btn-add-cart {
                                        width: fit-content;
                                        padding: 5px 15px;
                                        border: 1px solid #9b91f3;
                                        border-radius: 15px;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        cursor: pointer;

                                        span {
                                            color: #9b91f3;
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .chat-container {
                        display: flex;
                        width: 100%;
                        height: 500px;
                        position: relative;

                        .chat-list {
                            width: 30%;
                            background-color: #F6F5FF;

                            .chat-item {
                                width: 100%;
                                padding: 10px 25px;
                                cursor: pointer;
                                transition: background 0.3s;

                                &:hover {
                                    opacity: .7;
                                }

                                &.active {
                                    background-color: #EEECFF;
                                    font-weight: bold;
                                }

                                display: flex;
                                align-items: center;
                                gap: 20px;

                                .item-avatar {
                                    width: 50px;
                                    height: 50px;
                                    display: block;

                                    img {
                                        width: 50px;
                                        height: 50px;
                                        object-fit: cover;
                                        border-radius: 100px;
                                    }
                                }

                                .text-pr-inf {
                                    display: flex;
                                    flex-direction: column;

                                    span {
                                        font-size: 14px;

                                        b {
                                            font-size: 20px;
                                        }
                                    }

                                    @media (max-width: 1030px) {
                                        display: none;
                                    }
                                }

                                @media (max-width: 1207px) {
                                    flex-direction: column;
                                    justify-content: center;
                                }
                            }
                        }

                        .chat-content {
                            width: 70%;
                            padding: 20px;
                            display: flex;
                            flex-direction: column;

                            .chat-header {
                                font-weight: bold;
                                margin-bottom: 10px;
                            }

                            .messages {
                                flex-grow: 1;
                                overflow-y: auto;
                                height: 430px;
                                width: 100%;

                                .message {
                                    width: 100%;
                                    padding: 10px;
                                    margin-bottom: 5px;
                                    display: flex;
                                    flex-direction: column;
                                    gap: 10px;

                                    .date-msg {
                                        font-size: 14px;
                                    }

                                    .text-msg {
                                        width: 100%;
                                        max-width: 400px;
                                        background-color: #F5F5F5;
                                        padding: 15px 10px;
                                        border-radius: 5px;
                                        font-size: 14px;

                                        a {
                                            color: #C47E93;
                                        }
                                    }
                                }
                            }

                            .form-group {
                                display: flex;
                                align-items: start;
                                height: 80px;
                                margin: 10px 0;
                                position: absolute;
                                bottom: 0;
                                width: 100%;

                                textarea {
                                    resize: none;
                                    padding: 15px 25px;
                                    width: 50%;
                                    outline: none;
                                    background-color: #ffffff;
                                    border: none;
                                }

                                button {
                                    background-color: #9b91f3;
                                    width: 10%;
                                    text-align: center;
                                    padding: 15px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                }
                            }
                        }
                    }
                }
            }
        }

        .panel.active {
            display: block;
        }

    }

    .nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #ffffff;
        width: 279px;
        min-width: 279px;
        height: 100%;
        border-radius: 30px 0px 0 0;
        position: relative;
        overflow: hidden;
        transition: all .2s ease-in;

        @media (max-width: 750px) {
            border-radius: 0;
            width: 100%;
        }

        ul {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 0 25px;
            padding-top: 30px;

            li {
                padding: 10px 0;
                cursor: pointer;
                font-size: 16px;
                color: #302950;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                gap: 10px;

                &.active {
                    color: #B0A8FE;
                }

                span:nth-child(1) {
                    font-size: 24px;
                }

                &:hover {
                    color: #FDD9E5;
                }
            }
        }

        .nav-link {
            padding: 25px 25px;

            ul {
                padding: 0;

                li {
                    color: #C47E93;
                }
            }
        }

        .logout {
            padding: 15px 25px;

            a {
                color: #302950;
                display: flex;
                align-items: center;
                gap: 10px;

                span {
                    font-size: 16px;
                }

                span:nth-child(1) {
                    font-size: 24px;
                    transition: transform .2s ease-in;
                }

                &:hover {
                    span {
                        color: rgb(221, 67, 67);
                    }

                    span:nth-child(1) {
                        transform: translateX(10px);
                    }
                }
            }
        }

        .nav-footer {
            padding: 20px 25px;
            background-color: #C47E93;
            width: 100%;

            .logo-container {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 15px;
                cursor: pointer;
            }
        }
    }

    .nav.hidden {
        margin-left: -100%;

        @media (min-width: 751px) {
            margin-left: 0;
        }
    }

    #overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 100000;
    }

    .modal {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        text-align: center;
        width: 300px;
        z-index: 200000;
    }

    .modal-content {
        position: relative;
    }

    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 20px;
    }

    .star-rating {
        display: flex;
        justify-content: center;
        margin: 10px 0;
    }

    .star {
        cursor: pointer;
        font-size: 24px;
        padding: 5px;
        transition: transform 0.2s ease;

        &:hover {
            transform: scale(1.2);
        }
    }

    .star.active {
        color: #FFD700;
    }

    .emoji-display {
        font-size: 32px;
        margin-top: 10px;
    }

    #question-input {
        width: 100%;
        height: 80px;
        margin: 30px 0;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: none;
        outline: none;
    }

    button {
        margin-top: 10px;
        background-color: #1C214B;
        color: white;
        border: none;
        padding: 8px 16px;
        cursor: pointer;
        border-radius: 4px;

        &:hover {
            background-color: #2c3e50;
        }
    }


    @media (max-width: 750px) {
        margin: 0 auto;
        gap: 0;
    }
}

.toggle-nav {
    display: none;
    position: fixed;
    left: 0;
    /* Измените по необходимости */
    background-color: #ffffff;
    color: #302950;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

@media (max-width: 750px) {
    .toggle-nav {
        display: block;
        /* Показываем кнопку для навигации */
    }
}